services:
  loki:
    image: grafana/loki:2.9.3
    command:
      - -config.file=/etc/loki/loki-config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./monitoring/loki-config.yml:/etc/loki/loki-config.yml:ro
      - loki_data:/loki
    restart: unless-stopped
    networks:
      - logging

  promtail:
    image: grafana/promtail:2.9.3
    command:
      - -config.file=/etc/promtail/promtail-config.yml
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./monitoring/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
    depends_on:
      - loki
    restart: unless-stopped
    networks:
      - logging

  grafana-logs:
    image: grafana/grafana:10.4.2
    ports:
      - "3005:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./monitoring/logging-grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - loki
    restart: unless-stopped
    networks:
      - logging

networks:
  logging:
    driver: bridge

volumes:
  loki_data:
